---
import Layout from '../../layouts/Layout.astro';
import VideoContainer from '../../components/VideoContainer.astro';
---

<Layout title="Ccitec Ingenieria">

    <div>
        <VideoContainer title='VIDEO CLASE ( 04 - 10 - 23 )' url='https://iframe.mediadelivery.net/embed/1248/768aa83d-eeb9-451b-9042-344fe6ed07f6?autoplay=false&loop=false&muted=false&preload=false'>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 05 - 10 - 23 )' url='https://iframe.mediadelivery.net/embed/1248/1d85256e-86ef-42a5-bc33-eae5a4145f2c?autoplay=false&loop=false&muted=false&preload=false'>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 11 - 10 - 23 )' url='https://iframe.mediadelivery.net/embed/1248/45e0cc24-9c81-424c-a27d-6044bb0db9a3?autoplay=false&loop=false&muted=false&preload=false'>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 16 - 10 - 23 )' url='https://iframe.mediadelivery.net/embed/1248/df78cc5e-60dd-48c4-baae-a8a0d72c5ac6?autoplay=false&loop=false&muted=false&preload=false'>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 18 - 10 - 23 )' url='https://iframe.mediadelivery.net/embed/1248/7be0e0b0-82d6-48fc-b16f-da1422db415e?autoplay=false&loop=false&muted=false&preload=false'>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 19 - 10 - 23 )' url='https://iframe.mediadelivery.net/embed/1248/37cbdedb-7e9c-4e0c-805a-d5bc32ad238a?autoplay=false&loop=false&muted=false&preload=false'>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 25 - 10 - 23 )' url='https://iframe.mediadelivery.net/embed/1248/f612850f-59a0-4ce7-b85e-99648dfc5d13?autoplay=false&preload=false'>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 26 - 10 - 23 )' url='https://iframe.mediadelivery.net/embed/1248/5b872489-2590-4849-bf96-d6b59f9e341f?autoplay=false&preload=false'>

        </VideoContainer>
    </div>
    
</Layout>