---
import Layout from '../../layouts/Layout.astro';
import VideoContainer from '../../components/VideoContainer.astro';
---

<Layout title="Ccitec Ingenieria">

    <div>
        <VideoContainer title='VIDEO CLASE ( 04 - 10 - 23 )' url=''>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 05 - 10 - 23 )' url=''>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 11 - 10 - 23 )' url=''>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 12 - 10 - 23 )' url=''>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 18 - 10 - 23 )' url=''>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 19 - 10 - 23 )' url=''>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 25 - 10 - 23 )' url=''>

        </VideoContainer>
        <VideoContainer title='VIDEO CLASE ( 26 - 10 - 23 )' url=''>

        </VideoContainer>
    </div>
    
</Layout>