---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ccitec Ingenieria">
	<nav class="h-14 flex items-center w-full justify-between fixed top-0 px-4 md:px-8 bg-white shadow-md z-50" data-astro-cid-5blmo7yk>
		<button class="md:hidden flex items-center" id="controlmenu" aria-label="Menú" data-astro-cid-5blmo7yk>
			<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-astro-cid-5blmo7yk>
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" data-astro-cid-5blmo7yk></path>
			</svg>
		</button>
		<div class="h-full flex items-center md:order-1 order-2" data-astro-cid-5blmo7yk>
			<img src="/favicon.svg" alt="Icono Ccitec" class="h-10 w-10" data-astro-cid-5blmo7yk>
		</div>
		<ul id="menu" class="hidden md:flex md:flex-row flex-col items-center justify-between md:h-full w-full md:w-auto md:space-x-6 [&>li>a]:text-base lg:[&>li>a]:text-sm md:order-2 absolute md:relative top-0 left-0 md:top-0 bg-white md:bg-transparent z-40 h-screen transform transition-transform duration-300 ease-in-out" data-astro-cid-5blmo7yk>
			<button class="md:hidden absolute bottom-8 right-8" id="closemenu" data-astro-cid-5blmo7yk>
				<svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-astro-cid-5blmo7yk>
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" data-astro-cid-5blmo7yk></path>
				</svg>
			</button>
			<li class="h-full w-full flex items-center justify-center" data-astro-cid-5blmo7yk>
				<a href="#inicio" data-astro-cid-5blmo7yk>Inicio</a>
			</li>
			<li class="h-full w-full  flex items-center justify-center" data-astro-cid-5blmo7yk>
				<a href="#nosotros" data-astro-cid-5blmo7yk>Nosotros</a>
			</li>
			<li class="h-full w-full  flex items-center justify-center" data-astro-cid-5blmo7yk>
				<a href="/respaldo/matbas" data-astro-cid-5blmo7yk>Cursos</a>
			</li>
			<li class="h-full w-full  flex items-center justify-center" data-astro-cid-5blmo7yk>
				<a href="#diplomados" class="text-lg" data-astro-cid-5blmo7yk>Diplomados</a>
			</li>
			<button class="md:hidden h-full flex items-center justify-center" data-astro-cid-5blmo7yk>
				<a href="/aulavirtual/login" class="btn-login text-lg" data-astro-cid-5blmo7yk>Aula Virtual</a>
			</button>
		</ul>
		<a href="/aulavirtual/login" class="hidden md:flex items-center justify-around text-xs sm:text-sm md:order-3" data-astro-cid-5blmo7yk>
			<span class="btn-login" data-astro-cid-5blmo7yk>Aula Virtual</span>
		</a>
	</nav>
	<main class="flex items-center justify-center pt-0 md:pt-14 box-border min-h-[100vh] h-screen" data-astro-cid-37pmanjv>
		<div class="w-10/12 lg:w-7/12 container mx-auto px-4 flex flex-col items-center justify-center text-center h-full">
		  <h1 class="text-4xl md:text-7xl font-bold mb-4 leading-tight">
			Impulsa tu carrera con nuestros <span class="text-[#007cd2cc]">cursos especializados</span>
		  </h1>
		  <p class="text-base md:text-xl mb-8">
			Domina las herramientas y conocimientos clave para destacar en tu profesión.
		  </p>
		  <a href="#contacto" class="bg-[#007cd2cc] hover:bg-[#007cd2] text-white font-semibold py-3 px-8 rounded-md shadow-lg transition duration-300 ease-in-out">
			Contáctanos
		  </a>
	  
		  <!-- Sección de estadísticas -->
		  <section class="w-full flex flex-row items-center justify-center mt-3 md:mt-16 ">
			<div class="stat-card">
				<div class="flex flex-row items-center justify-center text-[3rem] font-bold text-[#007cd2cc]"><span>+ </span><div class="stat-number" data-number="120">0</div></div>
			  <p class="stat-label">Profesionales <br>Capacitados</p>
			</div>
			<div class="stat-card">
			  <div class="flex flex-row items-center justify-center text-[3rem] font-bold text-[#007cd2cc]"><span>+ </span><div class="stat-number" data-number="50">0</div></div>
			  <p class="stat-label">Cursos <br>Disponibles</p>
			</div>
			<div class="stat-card">
				<div class="flex flex-row items-center justify-center text-[3rem] font-bold text-[#007cd2cc]"><span>+ </span><div class="stat-number" data-number="7">0</div></div>
			  <p class="stat-label">Años de <br>Experiencia</p>
			</div>
		  </section>
		</div>
	  </main>
	  
	  
	<script type="module">
		const e = document.getElementById("controlmenu")
		  , n = document.getElementById("closemenu");
		function d() {
			const s = document.getElementById("menu");
			s && (s.classList.contains("hidden") ? (s.classList.remove("hidden"),
			s.classList.add("flex"),
			s.classList.add("animado"),
			s.classList.remove("desanimado")) : (s.classList.remove("animado"),
			s.classList.add("desanimado"),
			setTimeout(function() {
				s.classList.add("hidden"),
				s.classList.remove("flex"),
				s.classList.remove("desanimado"),
				s.classList.add("visualizado")
			}, 500)))
		}
		e && (e.onclick = d);
		n && (n.onclick = d);

		document.addEventListener('DOMContentLoaded', () => {
    const statNumbers = document.querySelectorAll('.stat-number');

    statNumbers.forEach((stat) => {
      const finalValue = parseInt(stat.getAttribute('data-number'), 10);
      let currentValue = 0;
      const increment = finalValue / 100;
      const duration = 2000; // Duración total en ms
      const steps = 100; // Número de pasos de la animación
      const stepDuration = duration / steps; // Duración de cada paso en ms

      const updateNumber = () => {
        if (currentValue < finalValue) {
          currentValue += increment;
          stat.textContent = Math.floor(currentValue);
          setTimeout(updateNumber, stepDuration);
        } else {
          stat.textContent = finalValue;
        }
      };

      updateNumber();
    });
  });
	</script>
</Layout>

<style>
	[data-astro-cid-5blmo7yk] {
		animation-delay: .25s
	}

	nav[data-astro-cid-5blmo7yk] {
		background-color: #fafafa80;
		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px)
	}

	.btn-login[data-astro-cid-5blmo7yk] {
		background-color: #007cd2;
		padding: .5rem 1rem;
		color: #fff;
		border-radius: .5rem
	}

	.btn-login[data-astro-cid-5blmo7yk]:hover {
		background-color: #007cd2cc
	}

	li[data-astro-cid-5blmo7yk]:hover {
		text-decoration: underline
	}

	ul[data-astro-cid-5blmo7yk].desanimado {
		animation: fade-out .5s forwards
	}

	ul[data-astro-cid-5blmo7yk].animado {
		animation: fade-in .5s forwards
	}

	ul[data-astro-cid-5blmo7yk].visualizado {
		opacity: 1
	}

	@keyframes fade-in {
		0% {
			opacity: 0
		}

		to {
			opacity: 1
		}
	}

	@keyframes fade-out {
		0% {
			opacity: 1
		}

		to {
			opacity: 0
		}
	}

	main[data-astro-cid-37pmanjv] {
		min-height: 100vh
	}

	.stat-card {
    text-align: center;
    flex: 1; /* Makes sure each stat card takes equal space */
  }

  .stat-number {
    font-size: 3rem;
    font-weight: bold;
    color: #007cd2cc;
  }

  .stat-label {
    font-size: 1rem;
    color: #333;
  }

  @media (max-width: 640px) {
    .stat-card {
      width: 100%;
    }

    .stat-card:nth-child(-n+2) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .stat-number {
      font-size: 2.2rem;
    }

    .stat-label {
      font-size: 0.75rem;
    }
  }
</style>
