---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="Astro v4.10.1">
        <meta name="description" content="CCITEC Ingeniería y Tecnología ofrece capacitación en línea especializada en ingeniería eléctrica. Mejora tus habilidades con nuestros cursos innovadores y profesionales experimentados.">
        <meta name="keywords" content="ingeniería, capacitación, cursos en línea, tecnología, ingeniería eléctrica">
        <meta name="author" content="CCITEC Ingeniería">
        <meta name="publisher" content="CCITEC Ingeniería y Tecnología">
        <meta name="robots" content="index, follow">
        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="Ccitec Ingeniería">
        <meta property="og:description" content="CCITEC Ingeniería y Tecnología ofrece capacitación en línea especializada en ingeniería eléctrica. Mejora tus habilidades con nuestros cursos innovadores y profesionales experimentados.">
        <meta property="og:image" content="/ogimage.jpg">
        <meta property="og:url" content="https://ccitecingenieria.web.app/">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="CCITEC Ingeniería y Tecnología">
        <!-- Canonical URL -->
        <link rel="canonical" href="https://ccitecingenieria.web.app/">
        <!-- Favicon -->
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <!-- Title -->
        <title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
	html {
		font-family: "Montserrat", sans-serif;
		background: #fff;
	}
    .parallax {
      opacity: 0;
      transform: translateY(100px);
      transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    }
  /* Cuando el elemento entra en pantalla */
  .parallax-visible {
      opacity: 1;
      transform: translateY(0);
    }
</style>
<script>
   // parallax.js
   window.addEventListener('scroll', checkParallax);
window.addEventListener('load', checkParallax); // Verificar al cargar la página

function checkParallax() {
  const elements = document.querySelectorAll('.parallax');
  const windowHeight = window.innerHeight;

  elements.forEach(element => {
    const elementTop = element.getBoundingClientRect().top;
    const elementBottom = element.getBoundingClientRect().bottom;

    // Si el elemento está entrando completamente en pantalla, aplicamos el efecto
    if (elementTop < windowHeight - 100 && elementBottom > 100) {
      element.classList.add('parallax-visible');
    }
  });
}
</script>
